<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href="https://pbs.twimg.com/profile_images/1016179089034493952/1BXf7oku_400x400.jpg">
    <title>Darin's First Website</title>
    <style>
        body{
            background-color: #fdfdc4;
        }
        img{
            border-radius: 50%
        }
    </style>
</head>
<body style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <p style = "text-align: center;"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40854004_512628222566610_6812569312646135808_n.jpg?_nc_cat=0&oh=49e288ae095ece87dd5005e7fdf09617&oe=5C2D9B1B" width="250" height="250"/></p>
        <div style="text-align:center">
                <img src = "https://cdn0.iconfinder.com/data/icons/thin-communication-messaging/57/thin-038_comment_chat_message-512.png" width="30" height="30"/><span><strong>darinamandaz@gmail.com</strong></span>
                <img src = "https://cdn3.iconfinder.com/data/icons/web-31/24/phone-circle-512.png"width="30" height="30"/><span><strong>087781958525</strong></span>
                <img src = "https://cdn4.iconfinder.com/data/icons/maps-and-navigation-solid-icons-vol-1/72/19-512.png" width ="30" height="30"/><span><strong>Bintaro, Tangerang Selatan</strong></span>
            </div>
    <div style="text-align:center">
        <h1 style="color: #68bde1">Hello my name is {{ name }} </h1>
        <article> NPM : {{ npm }}</article>
        <article>I am {{ age }} years old</article>
    </div>
    <div style="text-align:center">
    <article>I am currently a 2nd-year undergraduate student at Faculty of Computer Science, University of Indonesia, majoring in Computer Science. I love sleeping!
        <br>
        <br><strong>More about me: </strong></article><br>
    <a href="https://www.linkedin.com/in/darinamanda/"target="_blank"><img src="https://cdn.freebiesupply.com/logos/large/2x/linkedin-icon-logo-png-transparent.png"width="50"height="50"/></a>
    </div>
    <img src = "https://silverswan.com.au/wp-content/uploads/2014/07/Transparent-Dotted-Border.png"width = 100%>
    <h1 style ="text-align: center; color: #d17a90">My Friends</h1>
    <div>
        <p style = "text-align: center;"><img src ="https://eliora.files.wordpress.com/2018/09/58876.jpg?w=840" width="250" height="250"/></p>
        <div style="text-align:center;">
            <h1 style="color: #68bde1">Nathasya Eliora Kristianti </h1>
            <article> NPM : 170697940</article>
            <article> She is 18 years old</article>
            <article>Cici's hobby is playing. She likes to study at Fasilkom. </article>
            <br><br>
    </div>
    <div style="text-align: center">
        <p style = "text-align: center;"><img src = "https://projects.co.id/upload/usrd7c216/201806165b2402683a13a.jpg" width = "250" height = "250"/></p>
        <h1 style = "color: #68bde1">Siti Kaamiliaa Hasnaa</h1>
        <article> NPM: 1706984732</article>
        <article>She is 18 years old</article>
        <article>She is turning 19 soon and she still cant figure life out. Humor is her defense mechanism against life. She said, "When you know you cant beat them, join them right?"</article>
        <br>
    </div>
</body>
</html>
